# Exclude the content of the build, the binary output and the generated docs folders except the folders itself
build*/*
!build*/.gitkeep
bin/*
!bin/.gitkeep
gendocs/*
!gendocs/.gitkeep

# Ignore vim files
*.swp

tags
.gdb_history

app/internal_api/non-os/credentials.h
